* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
    .container {
        background: #36D1DC;  
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
        background: linear-gradient(to right, #5B86E5, #36D1DC);
        height: 100vh;
        overflow: scroll;
    }

    .toggle-btn {
        background: none;
        border: none;
        text-decoration: underline 2px;
        color: white;
        font-weight: 800;
        font-size: 20px;
        margin-left: 180px;
        margin-bottom: 20px;
    }
}