* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #36D1DC;  
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
        background: linear-gradient(to right, #5B86E5, #36D1DC); 

    }
    .title-main {
        font-size: 50px;
        text-align: center;
        margin-bottom: 150px;
    }

    .button2 {
        display: inline-block;
        padding: 00.5em 3em;
        border: 00.16em solid #FFFFFF;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.15s;
        background-color:  rgb(71, 214, 214);;
    }

    .button2:hover {
        color: #DDDDDD;
        border-color: #DDDDDD;
    }

    .button2:active {
        color: #BBBBBB;
        border-color: #BBBBBB;
    }
}
