* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
    .log-sign-btn {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 6px;
        color: white;
        height: 40px;
        width: 120px;
        font-size: 25px;
        margin: 15px;
    }

    .t-homepage {
        display: table;
        text-align: center;
    }
}