* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
  .navbar {
    background: #363A44;  
    /* background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
    background: linear-gradient(to right, #5B86E5, #36D1DC); */
  }
  .dropbtn {
    background: none;
    /* background-image: url('../Icons/menu.png'); */
    /* background-size: cover; */
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 52px;
    height: 52px;
  }

  .icon {
    height: 35px;
    width: 35px;
    background-color: #363A44;  
    /* background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
    background: linear-gradient(to right, #5B86E5, #36D1DC); */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#747579;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #fff
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #363A44;; color: #ffff}
  
  .dropdown:hover .dropdown-content {display: block;}

  .log-out-btn {
    border: none;
    background-color: #363A44;
    color: #fff;
    margin-left: 230px;
    font-size: 20px;
  }
  
  }

